@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    font-family: 'Muli', Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.holder{
    width: 600px;
    height: 500%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 8px green, -10px -10px 8px green;;
    border: 8px solid green;
    position: relative;
    background-color: black;
    opacity: 0.9;
}

img{
    width: 100px;
    margin: auto;
    position: absolute;
    top: 5px;
    border-radius:50px;
    border: 3px solid green;

}

h3{
    background-color: green;
    opacity: 0.9;
    padding: 10px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0 20px;
    text-align: center;
}

.container{
    position: absolute;
    width: 500px;
    height: 400px;
}

#textarea{
    border: 2px solid green;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 5 0 20px;
    font-size: 16px;
}

.tag{
    background-color: #f89524;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight{
    background-color: green;
}

h1{
    color: red;
    position: absolute;
    bottom: 10px;
    right: 50px;
    text-transform: uppercase;
    font-size: 14px;
}

/* ======= MEDIA QUERY TO ENABLE RESPONSIVENESS ==== */

@media(max-width:1920px){
    .container{
        float: none;
        margin-top: 100px;
        padding: 30px
    }

    #tags{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       flex-shrink: 0;
       flex-direction: row;
    }
}